<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


  




    <div id="topper">


      <div class="video-background">
        <div class="video-foreground">
          <iframe src="https://player.vimeo.com/video/335359308?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="title">
        <h1>Uneven Ground</h1>
        <div class="deck">Women make up just 3 percent of lucrative male dominated construction jobs — Gender based harassment and discrimination has kept their numbers virtually unchanged half a century after affirmative action.</div>
        <div class="buttons">
 <!--          <a href="#start"><button>Start</button></a>
          <a href="#videos"><button>Videos</button></a>
          <a href="#about"><button>About</button></a> -->
        </div>
      </div>

    </div>


    <section id="start">
      <div class="library">
      <div class="library__graphic graphic">
        <div class="graphic__prose">
          <p class="trigger" data-step="0">Today, the percentage of women working in construction trades like laborers, electricians and plumbers remains at 3 percent.</p>
          <p class="trigger" data-step="1">While their numbers are slowly rising in several of the major trades...</p>
          <p class="trigger" data-step="2">the highest paying jobs continue to have the fewest women.</p>
        </div>
        <div class="graphic__vis"><div id="graphic"></div></div>
      </div>
    </div>
      
    </section>

    <section id="videos">
      <div class="main-carousel">

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335461074" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">"DUMB GIRL"</div>
        </div>

		<div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335461659" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">MEET SUSAN</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335466491" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">CRITICAL MASS</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335467594" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">MEET LINDA</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335469171" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">MEET JENNIFER</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/335470581" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">MEET JENNA</div>
        </div>

      </div>
    </section>

    <section id="about">
      <article>
        <h2>Construction in the MeToo Era</h2>
<!--         <p>Today, the percentage of women working in construction trades like laborers, electricians and plumbers remains at just 3%. While their numbers are slowly rising in several of the major trades, the highest paying jobs continue to have the lowest amount of women. 
        </p> -->

        <div class="inline-img">
          <img src="./assets/jenaya_steps.jpg">
          <div class="caption">Jenaya Nelson, 43, seen here on her jobsite in Boston, MA, has been a construction laborer for 20 years.</div>
        </div>

        <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs. 

        In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents. 

        And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.  
        </p>

      </article>
    </section>



    <section id="grid-videos" align="mx-auto">

      <h2>All Videos</h2>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335461074" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">"DUMB GIRL"</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335461659" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET SUSAN</div>
      </div>

	<div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335466491" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">CRITICAL MASS</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335467594" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET LINDA</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335469171" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET JENNIFER</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/335470581" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET JENNA</div>
      </div>

    </section>


  <script src="app.js" async></script>  
  <%= t.include("partials/_footer.html") %>
  <%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>