<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


  




    <div id="topper">


      <div class="video-background">
        <div class="video-foreground">
          <iframe src="https://player.vimeo.com/video/335359308?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      
      <div class="title">
        <h1>Uneven Ground</h1>
        <div class="deck">Women make up just 3% of lucrative male dominated construction jobs  -– Gender based harassment and discrimination has kept their numbers virtually unchanged half a century after affirmative action.</div>
        <div class="buttons">
          <a href="#start"><button>Start</button></a>
          <a href="#videos"><button>Videos</button></a>
          <a href="#about"><button>About</button></a>
        </div>
      </div>

    </div>


    <section id="start">
      <div class="library">
      <div class="library__graphic graphic">
        <div class="graphic__prose">
          <p class="trigger" data-step="0">Today, the percentage of women working in construction trades likelaborers, electricians and plumbers remains at 3%.</p>
          <p class="trigger" data-step="1">While their numbers are slowly rising in several of the major trades...</p>
          <p class="trigger" data-step="2">the highest paying jobs continue to have the lowest amount of women.</p>
        </div>
        <div class="graphic__vis"><div id="graphic"></div></div>
      </div>
    </div>
      
    </section>

    <section id="videos">
      <div class="main-carousel">

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/333649239" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">THIS IS A TITLE</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">THIS IS A TITLE</div>
        </div>

        <div class="carousel-cell">
          <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          <div class="video-title">THIS IS A TITLE</div>
        </div>

      </div>
    </section>

    <section id="about">
      <article>
        <h2>Thi is a header</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</p>

        <div class="inline-img">
          <img src="./assets/jenaya_steps.jpg">
          <div class="caption">This is a caption...</div>
        </div>

        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</p>
      
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</p>

        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</p>
      </article>
    </section>



    <section id="grid-videos">

      <h2 align="mx-auto">All Videos</h2>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">DUMB GIRL</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET LINDA</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET JENNIFER</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET SUSAN</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">MEET JENNA</div>
      </div>

      <div class="video">
        <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
        <div class="caption">CRITICAL MASS</div>
      </div>

    </section>


  <script src="app.js" async></script>  
  <%= t.include("partials/_footer.html") %>
  <%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>