<!doctype html>
<html lang="en-US">
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_meta.html", grunt.data.json) %>
  </head>

  <body>

  <%= t.include("partials/_nav.html", grunt.data.json) %>


  




    <section id="topper">

      <div class="bg-video"><iframe src="https://player.vimeo.com/video/327010028?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
      
      <div class="title">
        <h1>Uneven Ground</h1>
        <div class="deck">Women make up just 3% of lucrative male dominated construction jobs  -– Gender based harassment and discrimination has kept their numbers virtually unchanged half a century after affirmative action.</div>
      </div>

    </section>


    <section id="top-interactive">
      INTERACTIVE HERE
    </section>


    <section id="intro">
      
      <div class="embed-container"><iframe src="https://player.vimeo.com/video/333648895?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs.</p> 

      <p>In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents.</p> 

      <p>And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.</p>

    </section>


    <section id="linda">

      <div class="embed-container"><iframe src="https://player.vimeo.com/video/310197402?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs.</p> 

      <p>In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents.</p> 

      <p>And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.</p>

    </section>


    <section id="susan">

      <div class="embed-container"><iframe src="https://player.vimeo.com/video/310197402?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <div>
        TIMELINE EMBED HERE
      </div>

    </section>


    <section id="jennifer">

      <div class="embed-container"><iframe src="https://player.vimeo.com/video/310197402?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs.</p> 

      <p>In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents.</p> 

      <p>And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.</p>

    </section>


    <section id="jenna">

      <div class="embed-container"><iframe src="https://player.vimeo.com/video/310197402?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs.</p> 

      <p>In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents.</p> 

      <p>And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.</p>

    </section>


    <section id="end">

      <div class="embed-container"><iframe src="https://player.vimeo.com/video/333645902?background=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

      <p>Decades after affirmative action, there has been virtually no progress increasing the number of women in these lucrative male dominated jobs.</p> 

      <p>In the wake of the MeToo movement, sexual harassment complaints in fields with fewer women have increased, signaling a potential change in the culture around reporting incidents.</p> 

      <p>And the reason why doesn't take a general foreman to decipher...gender discrimination and sexual harassment is alive and well in California's construction industry.</p>

    </section>




    <!-- CODE FOR COURT RECORDS; Its pulling from the assets folder -->

      <div class="inline-asset">
        <img src="./assets/4D7A6285.jpg">
      </div>



      <!-- CODE FOR INLINE PHOTOS; its  pulling from the assets folder-->

      <div class="inline-asset">
        <img src="./assets/jenaya_steps.jpg">
        <div class="caption">THIS IS A CAPTION <span class="credit">Photographer Name</span></div>
      </div>
      

 <!-- CODE FOR COURT RECORDS; Its pulling from the assets folder -->

      <div class="inline-asset">
        <img src="./assets/4D7A6285.jpg">
      </div>



  <script src="app.js" async></script>  
  <%= t.include("partials/_footer.html") %>
  <%= t.include("partials/_analytics.html", grunt.data.json) %>

</body>
</html>